@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face  {
  font-family: OpenSans;
  src: url(./assets/fonts/OpenSansHebrew-Regular.ttf);
  font-weight:normal;
}

@font-face  {
  font-family: OpenSans;
  src: url(./assets/fonts/OpenSansHebrew-Bold.ttf);
  font-weight:bold;
}


@font-face  {
  font-family: Alef;
  src: url(./assets/fonts/Alef-Regular.ttf);
  font-weight:normal;
}

@font-face  {
  font-family: Alef;
  src: url(./assets/fonts/Alef-Bold.ttf);
  font-weight:bold;
}

@font-face  {
  font-family: Michal;
  src: url(./assets/fonts/DanaYadAlefAlefAlef-Normal.otf) format("opentype");
}

a {
  transition: color .3s linear;
}

*  {
  font-family:OpenSans;
  font-size:20px;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --second-color:#B491A2;
  --main-color:#F7F7F7;
  --main-pink: #F2C7CC;
  --second-pink: #ee9ca7;
  --main-brown:#D0B8AC;
  --main-brown-strong:#997462;
  --second-brown:#F3D8C7;
  --main-white:#FBFEFB;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.bullet {
}


html {
  height:100%;
  background: var(--main-color);
  scroll-behavior: smooth;
}
body {
  height:100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  direction:rtl;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.image_1 {
  max-width:100%;
  max-height:300px;
  width:100%;
  min-height:100%;
  object-fit:cover;
}


@media only screen and (min-width:1000px) {
  .centered_image {
    object-position: 0px -40vw !important;
  }
}

.image_2 {
  max-width:100%;
  width:100%;
}

.shadow-image {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.important-to-know {
  display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap:1rem;
  column-gap:4rem;
}



.important-to-know div {
  display: grid;
  place-items:center;
  align-content: start; /* Align the content to the start of the grid area */
  width: 100%;
}


@media only screen and (max-width:800px) {
  .important-to-know  {
    grid-template-columns: 1fr;
  }

 }

@media only screen and (min-width:1000px) {
  .important-to-know  {
    grid-template-columns: repeat(3, 1fr);
  }

 }

 .reactive-text {
  margin-top:1rem;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  justify-content:flex-start;
}

 @media only screen and (max-width:600px) {
  .reactive-text {
    min-height:400px !important;
  }
 }

 @media only screen and (min-width:600px) and (max-width:900px) {
  .reactive-text {
    min-height:350px !important;
  }
 }


 @media only screen and (min-width:700px) {
  .reactive-text {
    min-height:250px !important;
  }
  .image_1 {
    min-height:700px;
  }
 }

 @media only screen and (min-width:1100px) {
  .tb {
    object-position:0 -300px;
  }
 }